USE [LQV_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_BaiLam]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_BaiLam](
	[LQV_BaiLamID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_LichThiID] [int] NOT NULL,
	[LQV_UserID] [int] NOT NULL,
	[LQV_ThoiGianBatDau] [datetime] NULL,
	[LQV_ThoiGianNop] [datetime] NULL,
	[LQV_Diem] [float] NULL,
	[LQV_TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_BaiLamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_BaiTap]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_BaiTap](
	[LQV_BaiTapID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_LopHocID] [int] NOT NULL,
	[LQV_GiangVienID] [int] NOT NULL,
	[LQV_TieuDe] [nvarchar](200) NOT NULL,
	[LQV_MoTa] [nvarchar](max) NULL,
	[LQV_HanNop] [datetime] NOT NULL,
	[LQV_NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_TrangThai] [nvarchar](50) NULL DEFAULT (N'Đang mở'),
PRIMARY KEY CLUSTERED 
(
	[LQV_BaiTapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_BoCauHoi]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_BoCauHoi](
	[LQV_BoCauHoiID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenBo] [nvarchar](200) NOT NULL,
	[LQV_MoTa] [nvarchar](500) NULL,
	[LQV_GiangVienID] [int] NOT NULL,
	[LQV_NgayTao] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LQV_BoCauHoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_BuoiHoc]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_BuoiHoc](
	[LQV_BuoiHocID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_LopHocID] [int] NOT NULL,
	[LQV_NgayHoc] [date] NOT NULL,
	[LQV_GioBatDau] [time](7) NULL,
	[LQV_GioKetThuc] [time](7) NULL,
	[LqvViDo] [float] NULL,
	[LqvKinhDo] [float] NULL,
	[LqvBanKinh] [float] NULL,
	[LqvDangMo] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
PRIMARY KEY CLUSTERED 
(
	[LQV_BuoiHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_CauHoi]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_CauHoi](
	[LQV_CauHoiID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_BoCauHoiID] [int] NOT NULL,
	[LQV_NoiDung] [nvarchar](max) NOT NULL,
	[LQV_Loai] [nvarchar](50) NOT NULL,
	[LQV_Diem] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_CauHoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_ChiTietBaiLam]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_ChiTietBaiLam](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_BaiLamID] [int] NOT NULL,
	[LQV_CauHoiID] [int] NOT NULL,
	[LQV_DapAnID] [int] NULL,
	[LQV_TraLoiTuLuan] [nvarchar](max) NULL,
	[LQV_Diem] [float] NULL,
	[LQV_DaCham] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_ChucNang]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_ChucNang](
	[LQV_ChucNangID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenChucNang] [nvarchar](150) NOT NULL,
	[LQV_MoTa] [nvarchar](500) NULL,
	[LQV_DuongDan] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_ChucNangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_ChungNhan]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_ChungNhan](
	[LQV_MaChungNhan] [int] IDENTITY(1,1) NOT NULL,
	[LQV_MaChungNhanCode] [nvarchar](100) NOT NULL,
	[LQV_SinhVienID] [int] NOT NULL,
	[LQV_KhoaHocID] [int] NOT NULL,
	[LQV_NgayCap] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_HashValue] [nvarchar](256) NULL,
	[LQV_TrangThai] [nvarchar](50) NULL DEFAULT (N'Chưa ghi chain'),
PRIMARY KEY CLUSTERED 
(
	[LQV_MaChungNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_DangKyLopHoc]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_DangKyLopHoc](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_SinhVienID] [int] NOT NULL,
	[LQV_LopHocID] [int] NOT NULL,
	[LQV_NgayDangKy] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_DapAn]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_DapAn](
	[LQV_DapAnID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_CauHoiID] [int] NOT NULL,
	[LQV_NoiDung] [nvarchar](max) NULL,
	[LQV_Dung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_DapAnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_DeThi]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_DeThi](
	[LQV_DeThiID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenDeThi] [nvarchar](200) NOT NULL,
	[LQV_BoCauHoiID] [int] NOT NULL,
	[LQV_ThoiGianThi] [int] NOT NULL,
	[LQV_TongDiem] [float] NOT NULL,
	[LqvDaDuyet] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
	[LqvNgayDuyet] [datetime2](7) NULL,
	[LqvGiangVienId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_DeThiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_DiemDanhGPS]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_DiemDanhGPS](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_SinhVienID] [int] NOT NULL,
	[LQV_LopHocID] [int] NOT NULL,
	[LQV_ViDo] [float] NOT NULL,
	[LQV_KinhDo] [float] NOT NULL,
	[LQV_ThoiGian] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_HopLe] [bit] NOT NULL DEFAULT ((1)),
	[LQV_BuoiHocID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_GiaoDichBlockchain]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_GiaoDichBlockchain](
	[LQV_MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[LQV_ChungNhanID] [int] NOT NULL,
	[LQV_TxHash] [nvarchar](100) NOT NULL,
	[LQV_BlockNumber] [bigint] NULL,
	[LQV_GioTao] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_Status] [nvarchar](50) NULL DEFAULT (N'Pending'),
	[LqvNoiDungHash] [nvarchar](max) NULL,
	[LqvUrlEtherscan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_KhoaHoc]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_KhoaHoc](
	[LQV_MaKhoaHoc] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenKhoaHoc] [nvarchar](200) NOT NULL,
	[LQV_MoTa] [nvarchar](1000) NULL,
	[LQV_NgayBatDau] [datetime] NULL,
	[LQV_NgayKetThuc] [datetime] NULL,
	[LQV_GiangVienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_LichThi]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_LichThi](
	[LQV_LichThiID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_DeThiID] [int] NOT NULL,
	[LQV_LopHocID] [int] NOT NULL,
	[LQV_BatDau] [datetime] NOT NULL,
	[LQV_KetThuc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_LichThiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_LopHoc]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_LopHoc](
	[LQV_LopHocID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenLop] [nvarchar](200) NOT NULL,
	[LQV_KhoaHocID] [int] NOT NULL,
	[LQV_GiangVienID] [int] NOT NULL,
	[LQV_MoTa] [nvarchar](500) NULL,
	[LQV_NgayTao] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LQV_LopHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_NguoiDung]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_NguoiDung](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TenDangNhap] [nvarchar](100) NOT NULL,
	[LQV_MatKhauHash] [nvarchar](256) NULL,
	[LQV_HoTen] [nvarchar](150) NOT NULL,
	[LQV_Email] [nvarchar](150) NULL,
	[LQV_RoleID] [int] NOT NULL,
	[LQV_WalletAddress] [nvarchar](100) NULL,
	[LQV_NgayTao] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_DaXacThuc] [bit] NULL DEFAULT ((0)),
	[LqvAvt] [nvarchar](max) NULL,
	[LqvNgaySinh] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_NhatKyHoatDong]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_NhatKyHoatDong](
	[LQV_Id] [int] IDENTITY(1,1) NOT NULL,
	[LQV_TaiKhoan] [nvarchar](100) NULL,
	[LQV_HanhDong] [nvarchar](255) NULL,
	[LQV_ChiTiet] [nvarchar](max) NULL,
	[LQV_ThoiGian] [datetime] NULL DEFAULT (getdate()),
	[LQV_Ip] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_NopBaiTap]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_NopBaiTap](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_BaiTapID] [int] NOT NULL,
	[LQV_SinhVienID] [int] NOT NULL,
	[LQV_NoiDung] [nvarchar](max) NULL,
	[LQV_File] [nvarchar](255) NULL,
	[LQV_ThoiGianNop] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_Diem] [float] NULL,
	[LQV_NhanXet] [nvarchar](max) NULL,
	[LQV_DaCham] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_PhanQuyen]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_PhanQuyen](
	[LQV_PhanQuyenID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_RoleID] [int] NOT NULL,
	[LQV_ChucNangID] [int] NOT NULL,
	[LQV_ChoPhep] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[LQV_PhanQuyenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_Role]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_Role](
	[LQV_RoleID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_TienDoHocTap]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_TienDoHocTap](
	[LQV_Id] [int] IDENTITY(1,1) NOT NULL,
	[LQV_SinhVienId] [int] NOT NULL,
	[LQV_KhoaHocId] [int] NOT NULL,
	[LQV_TiLeHoanThanh] [float] NOT NULL,
	[LQV_NgayCapNhat] [datetime2](7) NOT NULL DEFAULT (getdate()),
 CONSTRAINT [PK_LQV_TienDoHocTap] PRIMARY KEY CLUSTERED 
(
	[LQV_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_XacThucChungNhan]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_XacThucChungNhan](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_MaChungNhanCode] [nvarchar](100) NOT NULL,
	[LQV_ThoiGianXacThuc] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_DiaChiNguoiXacThuc] [nvarchar](100) NULL,
	[LQV_KetQua] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_XacThucEmail]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_XacThucEmail](
	[LQV_MaXacThuc] [int] IDENTITY(1,1) NOT NULL,
	[LQV_Email] [nvarchar](150) NOT NULL,
	[LQV_MaOTP] [nvarchar](10) NOT NULL,
	[LQV_LoaiXacThuc] [nvarchar](50) NOT NULL,
	[LQV_ThoiGianTao] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_ThoiGianHetHan] [datetime] NOT NULL,
	[LQV_TrangThai] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[LQV_MaXacThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_YeuCauCapChungChi]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_YeuCauCapChungChi](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_NguoiDungID] [int] NOT NULL,
	[LQV_KhoaHocID] [int] NOT NULL,
	[LQV_NgayYeuCau] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_LyDoYeuCau] [nvarchar](1000) NULL,
	[LQV_TrangThai] [nvarchar](50) NOT NULL DEFAULT (N'Chờ duyệt'),
	[LqvLyDoTuChoi] [nvarchar](1000) NULL,
	[LqvChungNhanId] [int] NULL,
 CONSTRAINT [PK_LQV_YeuCauCapChungChi] PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LQV_YeuCauHoTro]    Script Date: 24/01/2026 10:50:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LQV_YeuCauHoTro](
	[LQV_ID] [int] IDENTITY(1,1) NOT NULL,
	[LQV_NguoiDungID] [int] NOT NULL,
	[LQV_NoiDung] [nvarchar](max) NOT NULL,
	[LQV_ThoiGianGui] [datetime] NOT NULL DEFAULT (getdate()),
	[LQV_TrangThai] [nvarchar](50) NOT NULL DEFAULT (N'Mới'),
	[LQV_PhanHoi] [nvarchar](max) NULL,
 CONSTRAINT [PK_LQV_YeuCauHoTro] PRIMARY KEY CLUSTERED 
(
	[LQV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251031025019_AddAvtToNguoiDung', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251105023532_AddLqvNgaySinhToNguoiDung', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251105025838_AddLqvTienDoHocTapTable', N'9.0.10')
SET IDENTITY_INSERT [dbo].[LQV_BaiLam] ON 

INSERT [dbo].[LQV_BaiLam] ([LQV_BaiLamID], [LQV_LichThiID], [LQV_UserID], [LQV_ThoiGianBatDau], [LQV_ThoiGianNop], [LQV_Diem], [LQV_TrangThai]) VALUES (1, 3, 11, CAST(N'2026-01-23 19:47:34.370' AS DateTime), CAST(N'2026-01-23 20:12:27.567' AS DateTime), 7, N'DaCham')
INSERT [dbo].[LQV_BaiLam] ([LQV_BaiLamID], [LQV_LichThiID], [LQV_UserID], [LQV_ThoiGianBatDau], [LQV_ThoiGianNop], [LQV_Diem], [LQV_TrangThai]) VALUES (2, 4, 7, CAST(N'2026-01-23 20:55:31.287' AS DateTime), CAST(N'2026-01-23 20:55:36.680' AS DateTime), 5, N'DaNop')
INSERT [dbo].[LQV_BaiLam] ([LQV_BaiLamID], [LQV_LichThiID], [LQV_UserID], [LQV_ThoiGianBatDau], [LQV_ThoiGianNop], [LQV_Diem], [LQV_TrangThai]) VALUES (3, 5, 7, CAST(N'2026-01-23 21:19:34.280' AS DateTime), CAST(N'2026-01-23 21:19:49.917' AS DateTime), 10, N'DaCham')
SET IDENTITY_INSERT [dbo].[LQV_BaiLam] OFF
SET IDENTITY_INSERT [dbo].[LQV_BaiTap] ON 

INSERT [dbo].[LQV_BaiTap] ([LQV_BaiTapID], [LQV_LopHocID], [LQV_GiangVienID], [LQV_TieuDe], [LQV_MoTa], [LQV_HanNop], [LQV_NgayTao], [LQV_TrangThai]) VALUES (3, 1, 9, N'SQL Bài 2', N'Tiếp tục hoàn thiện các phần tiếp theo', CAST(N'2026-01-23 23:59:00.000' AS DateTime), CAST(N'2026-01-22 20:58:05.227' AS DateTime), N'DangMo')
INSERT [dbo].[LQV_BaiTap] ([LQV_BaiTapID], [LQV_LopHocID], [LQV_GiangVienID], [LQV_TieuDe], [LQV_MoTa], [LQV_HanNop], [LQV_NgayTao], [LQV_TrangThai]) VALUES (4, 1, 9, N'SQL Bài 3', N'Tiếp tục làm việc ', CAST(N'2026-01-24 00:19:00.000' AS DateTime), CAST(N'2026-01-22 22:19:40.280' AS DateTime), N'DangMo')
INSERT [dbo].[LQV_BaiTap] ([LQV_BaiTapID], [LQV_LopHocID], [LQV_GiangVienID], [LQV_TieuDe], [LQV_MoTa], [LQV_HanNop], [LQV_NgayTao], [LQV_TrangThai]) VALUES (5, 4, 9, N'SQL Bài 1', N'Hoàn thiện bài tập được giao', CAST(N'2026-01-22 00:59:00.000' AS DateTime), CAST(N'2026-01-22 22:23:20.963' AS DateTime), N'DangMo')
SET IDENTITY_INSERT [dbo].[LQV_BaiTap] OFF
SET IDENTITY_INSERT [dbo].[LQV_BoCauHoi] ON 

INSERT [dbo].[LQV_BoCauHoi] ([LQV_BoCauHoiID], [LQV_TenBo], [LQV_MoTa], [LQV_GiangVienID], [LQV_NgayTao]) VALUES (2, N'C#', N'C#', 9, CAST(N'2025-12-13 20:14:33.497' AS DateTime))
INSERT [dbo].[LQV_BoCauHoi] ([LQV_BoCauHoiID], [LQV_TenBo], [LQV_MoTa], [LQV_GiangVienID], [LQV_NgayTao]) VALUES (4, N'C++', N'C++', 9, CAST(N'2026-01-19 19:40:09.063' AS DateTime))
INSERT [dbo].[LQV_BoCauHoi] ([LQV_BoCauHoiID], [LQV_TenBo], [LQV_MoTa], [LQV_GiangVienID], [LQV_NgayTao]) VALUES (5, N'C#7', N'Bộ câu hỏi mới ', 9, CAST(N'2026-01-21 20:38:58.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[LQV_BoCauHoi] OFF
SET IDENTITY_INSERT [dbo].[LQV_BuoiHoc] ON 

INSERT [dbo].[LQV_BuoiHoc] ([LQV_BuoiHocID], [LQV_LopHocID], [LQV_NgayHoc], [LQV_GioBatDau], [LQV_GioKetThuc], [LqvViDo], [LqvKinhDo], [LqvBanKinh], [LqvDangMo]) VALUES (1, 2, CAST(N'2026-01-21' AS Date), CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 21045407418313748, 10574920095009536, 50, 0)
INSERT [dbo].[LQV_BuoiHoc] ([LQV_BuoiHocID], [LQV_LopHocID], [LQV_NgayHoc], [LQV_GioBatDau], [LQV_GioKetThuc], [LqvViDo], [LqvKinhDo], [LqvBanKinh], [LqvDangMo]) VALUES (2, 1, CAST(N'2026-01-21' AS Date), CAST(N'17:00:00' AS Time), CAST(N'20:00:00' AS Time), 21054132314723752, 10573495220261232, 50, 0)
INSERT [dbo].[LQV_BuoiHoc] ([LQV_BuoiHocID], [LQV_LopHocID], [LQV_NgayHoc], [LQV_GioBatDau], [LQV_GioKetThuc], [LqvViDo], [LqvKinhDo], [LqvBanKinh], [LqvDangMo]) VALUES (3, 1, CAST(N'2026-01-22' AS Date), CAST(N'13:00:00' AS Time), CAST(N'17:00:00' AS Time), 21045448388842164, 1.05749253310308E+16, 100, 0)
SET IDENTITY_INSERT [dbo].[LQV_BuoiHoc] OFF
SET IDENTITY_INSERT [dbo].[LQV_CauHoi] ON 

INSERT [dbo].[LQV_CauHoi] ([LQV_CauHoiID], [LQV_BoCauHoiID], [LQV_NoiDung], [LQV_Loai], [LQV_Diem]) VALUES (2, 2, N'1 Hương Cộng Với.....Bằng 4 Hương', N'TuLuan', 5)
INSERT [dbo].[LQV_CauHoi] ([LQV_CauHoiID], [LQV_BoCauHoiID], [LQV_NoiDung], [LQV_Loai], [LQV_Diem]) VALUES (4, 5, N'Ngày Hôm Nay Là Ngày Thứ Mấy ?', N'TracNghiem', 3)
INSERT [dbo].[LQV_CauHoi] ([LQV_CauHoiID], [LQV_BoCauHoiID], [LQV_NoiDung], [LQV_Loai], [LQV_Diem]) VALUES (5, 2, N'1+1', N'TracNghiem', 5)
SET IDENTITY_INSERT [dbo].[LQV_CauHoi] OFF
SET IDENTITY_INSERT [dbo].[LQV_ChiTietBaiLam] ON 

INSERT [dbo].[LQV_ChiTietBaiLam] ([LQV_ID], [LQV_BaiLamID], [LQV_CauHoiID], [LQV_DapAnID], [LQV_TraLoiTuLuan], [LQV_Diem], [LQV_DaCham]) VALUES (1, 1, 5, 24, NULL, 5, 1)
INSERT [dbo].[LQV_ChiTietBaiLam] ([LQV_ID], [LQV_BaiLamID], [LQV_CauHoiID], [LQV_DapAnID], [LQV_TraLoiTuLuan], [LQV_Diem], [LQV_DaCham]) VALUES (2, 1, 2, NULL, N'3', 2, 1)
INSERT [dbo].[LQV_ChiTietBaiLam] ([LQV_ID], [LQV_BaiLamID], [LQV_CauHoiID], [LQV_DapAnID], [LQV_TraLoiTuLuan], [LQV_Diem], [LQV_DaCham]) VALUES (3, 2, 5, 24, NULL, 5, 1)
SET IDENTITY_INSERT [dbo].[LQV_ChiTietBaiLam] OFF
SET IDENTITY_INSERT [dbo].[LQV_ChucNang] ON 

INSERT [dbo].[LQV_ChucNang] ([LQV_ChucNangID], [LQV_TenChucNang], [LQV_MoTa], [LQV_DuongDan]) VALUES (1, N'Quản lý người dùng', N'Thêm, sửa, xóa tài khoản người dùng', N'/Admin/Users')
INSERT [dbo].[LQV_ChucNang] ([LQV_ChucNangID], [LQV_TenChucNang], [LQV_MoTa], [LQV_DuongDan]) VALUES (2, N'Quản lý khóa học', N'Tạo và quản lý các khóa học', N'/Admin/Courses')
INSERT [dbo].[LQV_ChucNang] ([LQV_ChucNangID], [LQV_TenChucNang], [LQV_MoTa], [LQV_DuongDan]) VALUES (3, N'Cấp chứng nhận', N'Cấp chứng nhận học tập và ghi blockchain', N'/Admin/Certificates')
SET IDENTITY_INSERT [dbo].[LQV_ChucNang] OFF
SET IDENTITY_INSERT [dbo].[LQV_ChungNhan] ON 

INSERT [dbo].[LQV_ChungNhan] ([LQV_MaChungNhan], [LQV_MaChungNhanCode], [LQV_SinhVienID], [LQV_KhoaHocID], [LQV_NgayCap], [LQV_HashValue], [LQV_TrangThai]) VALUES (4, N'CC-4-A8279A9A', 7, 4, CAST(N'2025-11-07 02:08:20.010' AS DateTime), N'a8279a9aea3347c89527cdce02252628', N'Đã cấp')
INSERT [dbo].[LQV_ChungNhan] ([LQV_MaChungNhan], [LQV_MaChungNhanCode], [LQV_SinhVienID], [LQV_KhoaHocID], [LQV_NgayCap], [LQV_HashValue], [LQV_TrangThai]) VALUES (5, N'CC-3-1CA1D455', 7, 3, CAST(N'2025-11-07 12:27:32.577' AS DateTime), N'1ca1d455fb024616acfb746c54065577', N'Đã cấp')
INSERT [dbo].[LQV_ChungNhan] ([LQV_MaChungNhan], [LQV_MaChungNhanCode], [LQV_SinhVienID], [LQV_KhoaHocID], [LQV_NgayCap], [LQV_HashValue], [LQV_TrangThai]) VALUES (6, N'CC-5-871DF1BE', 7, 5, CAST(N'2025-11-07 21:17:40.813' AS DateTime), N'871df1be618848d5a9719a36f16f6ee3', N'Đã cấp')
SET IDENTITY_INSERT [dbo].[LQV_ChungNhan] OFF
SET IDENTITY_INSERT [dbo].[LQV_DangKyLopHoc] ON 

INSERT [dbo].[LQV_DangKyLopHoc] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_NgayDangKy]) VALUES (1, 7, 1, CAST(N'2025-12-13 17:47:47.623' AS DateTime))
INSERT [dbo].[LQV_DangKyLopHoc] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_NgayDangKy]) VALUES (4, 7, 3, CAST(N'2025-12-13 18:53:49.237' AS DateTime))
INSERT [dbo].[LQV_DangKyLopHoc] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_NgayDangKy]) VALUES (5, 7, 4, CAST(N'2026-01-22 22:21:53.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[LQV_DangKyLopHoc] OFF
SET IDENTITY_INSERT [dbo].[LQV_DapAn] ON 

INSERT [dbo].[LQV_DapAn] ([LQV_DapAnID], [LQV_CauHoiID], [LQV_NoiDung], [LQV_Dung]) VALUES (3, 2, N'3', 1)
INSERT [dbo].[LQV_DapAn] ([LQV_DapAnID], [LQV_CauHoiID], [LQV_NoiDung], [LQV_Dung]) VALUES (6, 2, N'4', 0)
INSERT [dbo].[LQV_DapAn] ([LQV_DapAnID], [LQV_CauHoiID], [LQV_NoiDung], [LQV_Dung]) VALUES (20, 2, N'6', 0)
SET IDENTITY_INSERT [dbo].[LQV_DapAn] OFF
SET IDENTITY_INSERT [dbo].[LQV_DeThi] ON 

INSERT [dbo].[LQV_DeThi] ([LQV_DeThiID], [LQV_TenDeThi], [LQV_BoCauHoiID], [LQV_ThoiGianThi], [LQV_TongDiem], [LqvDaDuyet], [LqvNgayDuyet], [LqvGiangVienId]) VALUES (2, N'20266', 2, 60, 8, 1, CAST(N'2026-01-19 15:52:56.6548805' AS DateTime2), NULL)
INSERT [dbo].[LQV_DeThi] ([LQV_DeThiID], [LQV_TenDeThi], [LQV_BoCauHoiID], [LQV_ThoiGianThi], [LQV_TongDiem], [LqvDaDuyet], [LqvNgayDuyet], [LqvGiangVienId]) VALUES (3, N'2025', 2, 60, 8, 0, NULL, NULL)
INSERT [dbo].[LQV_DeThi] ([LQV_DeThiID], [LQV_TenDeThi], [LQV_BoCauHoiID], [LQV_ThoiGianThi], [LQV_TongDiem], [LqvDaDuyet], [LqvNgayDuyet], [LqvGiangVienId]) VALUES (4, N'Thi cuối kỳ K22CNT2', 2, 60, 5, 1, CAST(N'2026-01-21 18:14:25.4463701' AS DateTime2), 9)
SET IDENTITY_INSERT [dbo].[LQV_DeThi] OFF
SET IDENTITY_INSERT [dbo].[LQV_DiemDanhGPS] ON 

INSERT [dbo].[LQV_DiemDanhGPS] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_ViDo], [LQV_KinhDo], [LQV_ThoiGian], [LQV_HopLe], [LQV_BuoiHocID]) VALUES (1, 7, 1, 210455655, 1057506525, CAST(N'2026-01-22 17:03:24.117' AS DateTime), 0, 3)
INSERT [dbo].[LQV_DiemDanhGPS] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_ViDo], [LQV_KinhDo], [LQV_ThoiGian], [LQV_HopLe], [LQV_BuoiHocID]) VALUES (2, 7, 1, 210455655, 1057506525, CAST(N'2026-01-22 17:04:38.427' AS DateTime), 0, 2)
INSERT [dbo].[LQV_DiemDanhGPS] ([LQV_ID], [LQV_SinhVienID], [LQV_LopHocID], [LQV_ViDo], [LQV_KinhDo], [LQV_ThoiGian], [LQV_HopLe], [LQV_BuoiHocID]) VALUES (3, 7, 1, 210455655, 1057506525, CAST(N'2026-01-22 17:05:01.620' AS DateTime), 0, 5)
SET IDENTITY_INSERT [dbo].[LQV_DiemDanhGPS] OFF
SET IDENTITY_INSERT [dbo].[LQV_GiaoDichBlockchain] ON 

INSERT [dbo].[LQV_GiaoDichBlockchain] ([LQV_MaGiaoDich], [LQV_ChungNhanID], [LQV_TxHash], [LQV_BlockNumber], [LQV_GioTao], [LQV_Status], [LqvNoiDungHash], [LqvUrlEtherscan]) VALUES (4, 6, N'', NULL, CAST(N'2025-11-07 21:18:02.213' AS DateTime), N'Lỗi', NULL, NULL)
INSERT [dbo].[LQV_GiaoDichBlockchain] ([LQV_MaGiaoDich], [LQV_ChungNhanID], [LQV_TxHash], [LQV_BlockNumber], [LQV_GioTao], [LQV_Status], [LqvNoiDungHash], [LqvUrlEtherscan]) VALUES (5, 7, N'0xdcaa950e64abfe4fc2670ef41a4320ed9bcc5555e5fa2d3ca24f335bb70ecc7e', NULL, CAST(N'2025-11-07 21:48:26.177' AS DateTime), N'Thành công', NULL, NULL)
INSERT [dbo].[LQV_GiaoDichBlockchain] ([LQV_MaGiaoDich], [LQV_ChungNhanID], [LQV_TxHash], [LQV_BlockNumber], [LQV_GioTao], [LQV_Status], [LqvNoiDungHash], [LqvUrlEtherscan]) VALUES (6, 9, N'0xbeec1020ca943399c325e0939eea080355c563062320a323ace607363ab320c7', NULL, CAST(N'2025-11-07 23:07:13.033' AS DateTime), N'Thành công', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LQV_GiaoDichBlockchain] OFF
SET IDENTITY_INSERT [dbo].[LQV_KhoaHoc] ON 

INSERT [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc], [LQV_TenKhoaHoc], [LQV_MoTa], [LQV_NgayBatDau], [LQV_NgayKetThuc], [LQV_GiangVienID]) VALUES (1, N'Lập trình Blockchain cơ bản', N'Giới thiệu Ethereum và Solidity', CAST(N'2025-01-01 00:00:00.000' AS DateTime), CAST(N'2025-03-01 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc], [LQV_TenKhoaHoc], [LQV_MoTa], [LQV_NgayBatDau], [LQV_NgayKetThuc], [LQV_GiangVienID]) VALUES (2, N'ASP.NET Core nâng cao', N'Phát triển web hiện đại với .NET 88', CAST(N'2025-02-01 00:00:00.000' AS DateTime), CAST(N'2025-04-01 00:00:00.000' AS DateTime), 6)
INSERT [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc], [LQV_TenKhoaHoc], [LQV_MoTa], [LQV_NgayBatDau], [LQV_NgayKetThuc], [LQV_GiangVienID]) VALUES (3, N'Cơ sở dữ liệu SQL Server', N'Quản lý và tối ưu hóa cơ sở dữ liệu', CAST(N'2025-01-10 00:00:00.000' AS DateTime), CAST(N'2025-03-20 00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[LQV_KhoaHoc] OFF
SET IDENTITY_INSERT [dbo].[LQV_LichThi] ON 

INSERT [dbo].[LQV_LichThi] ([LQV_LichThiID], [LQV_DeThiID], [LQV_LopHocID], [LQV_BatDau], [LQV_KetThuc]) VALUES (1, 2, 3, CAST(N'2026-01-19 16:33:00.000' AS DateTime), CAST(N'2026-01-19 17:33:00.000' AS DateTime))
INSERT [dbo].[LQV_LichThi] ([LQV_LichThiID], [LQV_DeThiID], [LQV_LopHocID], [LQV_BatDau], [LQV_KetThuc]) VALUES (2, 2, 1, CAST(N'2026-01-19 17:34:00.000' AS DateTime), CAST(N'2026-01-19 18:34:00.000' AS DateTime))
INSERT [dbo].[LQV_LichThi] ([LQV_LichThiID], [LQV_DeThiID], [LQV_LopHocID], [LQV_BatDau], [LQV_KetThuc]) VALUES (3, 4, 5, CAST(N'2026-01-23 19:30:00.000' AS DateTime), CAST(N'2026-01-23 20:26:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LQV_LichThi] OFF
SET IDENTITY_INSERT [dbo].[LQV_LopHoc] ON 

INSERT [dbo].[LQV_LopHoc] ([LQV_LopHocID], [LQV_TenLop], [LQV_KhoaHocID], [LQV_GiangVienID], [LQV_MoTa], [LQV_NgayTao]) VALUES (1, N'K22CNT1', 1, 9, N'hihi', CAST(N'2025-12-13 17:39:00.340' AS DateTime))
INSERT [dbo].[LQV_LopHoc] ([LQV_LopHocID], [LQV_TenLop], [LQV_KhoaHocID], [LQV_GiangVienID], [LQV_MoTa], [LQV_NgayTao]) VALUES (3, N'K22CNT2', 11, 9, N'HTML', CAST(N'2025-12-13 18:53:42.510' AS DateTime))
INSERT [dbo].[LQV_LopHoc] ([LQV_LopHocID], [LQV_TenLop], [LQV_KhoaHocID], [LQV_GiangVienID], [LQV_MoTa], [LQV_NgayTao]) VALUES (4, N'K22CNT3', 13, 9, N'Học về game', CAST(N'2026-01-22 22:21:45.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[LQV_LopHoc] OFF
SET IDENTITY_INSERT [dbo].[LQV_NguoiDung] ON 

INSERT [dbo].[LQV_NguoiDung] ([LQV_ID], [LQV_TenDangNhap], [LQV_MatKhauHash], [LQV_HoTen], [LQV_Email], [LQV_RoleID], [LQV_WalletAddress], [LQV_NgayTao], [LQV_DaXacThuc], [LqvAvt], [LqvNgaySinh]) VALUES (2, N'gv01', N'HASH_OF_1234', N'Nguyễn Văn A', N'giaovienA@edu.vn', 2, N'0xTeacher01', CAST(N'2025-10-28 22:02:59.913' AS DateTime), 1, N'/uploads/avatars/2.jpg', CAST(N'2004-07-20 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[LQV_NguoiDung] ([LQV_ID], [LQV_TenDangNhap], [LQV_MatKhauHash], [LQV_HoTen], [LQV_Email], [LQV_RoleID], [LQV_WalletAddress], [LQV_NgayTao], [LQV_DaXacThuc], [LqvAvt], [LqvNgaySinh]) VALUES (6, N'LeQuocVuong', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', N'LeQuocVuong', N'lequocvuowng123@gmail.com', 1, NULL, CAST(N'2025-10-29 20:10:48.893' AS DateTime), 1, N'/uploads/avatars/6.jpg', CAST(N'2004-07-20 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[LQV_NguoiDung] ([LQV_ID], [LQV_TenDangNhap], [LQV_MatKhauHash], [LQV_HoTen], [LQV_Email], [LQV_RoleID], [LQV_WalletAddress], [LQV_NgayTao], [LQV_DaXacThuc], [LqvAvt], [LqvNgaySinh]) VALUES (7, N'Nguyễn Thị Diễm Hương', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', N'Nguyễn Thị Diễm Hương', N'huongntd1810@gmail.com', 3, NULL, CAST(N'2025-11-04 22:15:44.450' AS DateTime), 1, N'/uploads/avatars/7.jpg', CAST(N'2004-10-18 00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LQV_NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[LQV_NhatKyHoatDong] ON 

INSERT [dbo].[LQV_NhatKyHoatDong] ([LQV_Id], [LQV_TaiKhoan], [LQV_HanhDong], [LQV_ChiTiet], [LQV_ThoiGian], [LQV_Ip]) VALUES (1, N'Admin', N'Xóa người dùng', N'Xóa tài khoản: sv02', CAST(N'2025-10-30 21:27:19.113' AS DateTime), N'::1')
INSERT [dbo].[LQV_NhatKyHoatDong] ([LQV_Id], [LQV_TaiKhoan], [LQV_HanhDong], [LQV_ChiTiet], [LQV_ThoiGian], [LQV_Ip]) VALUES (2, N'Admin', N'Cập nhật người dùng', N'Sửa thông tin tài khoản: admin1', CAST(N'2025-10-30 21:58:39.647' AS DateTime), N'::1')
INSERT [dbo].[LQV_NhatKyHoatDong] ([LQV_Id], [LQV_TaiKhoan], [LQV_HanhDong], [LQV_ChiTiet], [LQV_ThoiGian], [LQV_Ip]) VALUES (4, N'Admin', N'Xóa người dùng', N'Xóa tài khoản: gv02', CAST(N'2025-10-30 21:59:05.210' AS DateTime), N'::1')
SET IDENTITY_INSERT [dbo].[LQV_NhatKyHoatDong] OFF
SET IDENTITY_INSERT [dbo].[LQV_NopBaiTap] ON 

INSERT [dbo].[LQV_NopBaiTap] ([LQV_ID], [LQV_BaiTapID], [LQV_SinhVienID], [LQV_NoiDung], [LQV_File], [LQV_ThoiGianNop], [LQV_Diem], [LQV_NhanXet], [LQV_DaCham]) VALUES (1, 3, 7, N'Em Nộp Bài ạ', N'/uploads/baitap/3/7/20260122210250_2210900083_Lequocvuong_De04.docx', CAST(N'2026-01-22 21:02:50.037' AS DateTime), 10, N'Em làm tốt lắm', 1)
INSERT [dbo].[LQV_NopBaiTap] ([LQV_ID], [LQV_BaiTapID], [LQV_SinhVienID], [LQV_NoiDung], [LQV_File], [LQV_ThoiGianNop], [LQV_Diem], [LQV_NhanXet], [LQV_DaCham]) VALUES (2, 4, 7, N'em nộp bài ạ', N'/uploads/baitap/4/7/20260122222539_hinh-nen-desktop-tuyet-dep.jpg', CAST(N'2026-01-22 22:25:39.690' AS DateTime), 10, N'tốt', 1)
INSERT [dbo].[LQV_NopBaiTap] ([LQV_ID], [LQV_BaiTapID], [LQV_SinhVienID], [LQV_NoiDung], [LQV_File], [LQV_ThoiGianNop], [LQV_Diem], [LQV_NhanXet], [LQV_DaCham]) VALUES (4, 7, 11, NULL, N'/uploads/baitap/7/11/20260122232518_images.jpg', CAST(N'2026-01-22 23:25:18.603' AS DateTime), 10, NULL, 1)
SET IDENTITY_INSERT [dbo].[LQV_NopBaiTap] OFF
SET IDENTITY_INSERT [dbo].[LQV_PhanQuyen] ON 

INSERT [dbo].[LQV_PhanQuyen] ([LQV_PhanQuyenID], [LQV_RoleID], [LQV_ChucNangID], [LQV_ChoPhep]) VALUES (1, 1, 1, 1)
INSERT [dbo].[LQV_PhanQuyen] ([LQV_PhanQuyenID], [LQV_RoleID], [LQV_ChucNangID], [LQV_ChoPhep]) VALUES (2, 1, 2, 1)
INSERT [dbo].[LQV_PhanQuyen] ([LQV_PhanQuyenID], [LQV_RoleID], [LQV_ChucNangID], [LQV_ChoPhep]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[LQV_PhanQuyen] OFF
SET IDENTITY_INSERT [dbo].[LQV_Role] ON 

INSERT [dbo].[LQV_Role] ([LQV_RoleID], [LQV_RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[LQV_Role] ([LQV_RoleID], [LQV_RoleName]) VALUES (2, N'GiangVien')
INSERT [dbo].[LQV_Role] ([LQV_RoleID], [LQV_RoleName]) VALUES (3, N'SinhVien')
SET IDENTITY_INSERT [dbo].[LQV_Role] OFF
SET IDENTITY_INSERT [dbo].[LQV_TienDoHocTap] ON 

INSERT [dbo].[LQV_TienDoHocTap] ([LQV_Id], [LQV_SinhVienId], [LQV_KhoaHocId], [LQV_TiLeHoanThanh], [LQV_NgayCapNhat]) VALUES (1, 7, 3, 100, CAST(N'2025-11-06 14:32:18.5372486' AS DateTime2))
INSERT [dbo].[LQV_TienDoHocTap] ([LQV_Id], [LQV_SinhVienId], [LQV_KhoaHocId], [LQV_TiLeHoanThanh], [LQV_NgayCapNhat]) VALUES (2, 7, 4, 100, CAST(N'2025-11-07 01:01:46.7930297' AS DateTime2))
INSERT [dbo].[LQV_TienDoHocTap] ([LQV_Id], [LQV_SinhVienId], [LQV_KhoaHocId], [LQV_TiLeHoanThanh], [LQV_NgayCapNhat]) VALUES (3, 7, 5, 100, CAST(N'2025-11-07 21:17:08.8244399' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LQV_TienDoHocTap] OFF
SET IDENTITY_INSERT [dbo].[LQV_XacThucChungNhan] ON 

INSERT [dbo].[LQV_XacThucChungNhan] ([LQV_ID], [LQV_MaChungNhanCode], [LQV_ThoiGianXacThuc], [LQV_DiaChiNguoiXacThuc], [LQV_KetQua]) VALUES (4, N'CC-3-1CA1D455', CAST(N'2025-11-07 12:40:56.743' AS DateTime), N'::1', N'Hợp lệ: Thông tin khớp với bản ghi Blockchain.')
INSERT [dbo].[LQV_XacThucChungNhan] ([LQV_ID], [LQV_MaChungNhanCode], [LQV_ThoiGianXacThuc], [LQV_DiaChiNguoiXacThuc], [LQV_KetQua]) VALUES (6, N'CC-4-A8279A9A', CAST(N'2025-11-07 12:50:58.010' AS DateTime), N'::1', N'Hợp lệ: Thông tin khớp với bản ghi Blockchain.')
INSERT [dbo].[LQV_XacThucChungNhan] ([LQV_ID], [LQV_MaChungNhanCode], [LQV_ThoiGianXacThuc], [LQV_DiaChiNguoiXacThuc], [LQV_KetQua]) VALUES (7, N'CC-4-A8279A9A', CAST(N'2025-11-07 12:51:55.103' AS DateTime), N'::1', N'Hợp lệ: Thông tin khớp với bản ghi Blockchain.')
SET IDENTITY_INSERT [dbo].[LQV_XacThucChungNhan] OFF
SET IDENTITY_INSERT [dbo].[LQV_XacThucEmail] ON 

INSERT [dbo].[LQV_XacThucEmail] ([LQV_MaXacThuc], [LQV_Email], [LQV_MaOTP], [LQV_LoaiXacThuc], [LQV_ThoiGianTao], [LQV_ThoiGianHetHan], [LQV_TrangThai]) VALUES (1, N'lequocvuowng123@gmail.com', N'303710', N'DangKy', CAST(N'2025-10-29 20:10:49.143' AS DateTime), CAST(N'2025-10-29 20:15:49.143' AS DateTime), 1)
INSERT [dbo].[LQV_XacThucEmail] ([LQV_MaXacThuc], [LQV_Email], [LQV_MaOTP], [LQV_LoaiXacThuc], [LQV_ThoiGianTao], [LQV_ThoiGianHetHan], [LQV_TrangThai]) VALUES (2, N'lequocvuowng123@gmail.com', N'365254', N'QuenMatKhau', CAST(N'2025-10-29 20:22:02.050' AS DateTime), CAST(N'2025-10-29 20:27:02.050' AS DateTime), 1)
INSERT [dbo].[LQV_XacThucEmail] ([LQV_MaXacThuc], [LQV_Email], [LQV_MaOTP], [LQV_LoaiXacThuc], [LQV_ThoiGianTao], [LQV_ThoiGianHetHan], [LQV_TrangThai]) VALUES (3, N'lequocvuowng123@gmail.com', N'327040', N'QuenMatKhau', CAST(N'2025-10-29 20:26:55.047' AS DateTime), CAST(N'2025-10-29 20:31:55.047' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LQV_XacThucEmail] OFF
SET IDENTITY_INSERT [dbo].[LQV_YeuCauCapChungChi] ON 

INSERT [dbo].[LQV_YeuCauCapChungChi] ([LQV_ID], [LQV_NguoiDungID], [LQV_KhoaHocID], [LQV_NgayYeuCau], [LQV_LyDoYeuCau], [LQV_TrangThai], [LqvLyDoTuChoi], [LqvChungNhanId]) VALUES (1, 7, 4, CAST(N'2025-11-07 02:06:35.040' AS DateTime), N'ádfghj', N'Đã duyệt', NULL, NULL)
INSERT [dbo].[LQV_YeuCauCapChungChi] ([LQV_ID], [LQV_NguoiDungID], [LQV_KhoaHocID], [LQV_NgayYeuCau], [LQV_LyDoYeuCau], [LQV_TrangThai], [LqvLyDoTuChoi], [LqvChungNhanId]) VALUES (2, 7, 3, CAST(N'2025-11-07 02:17:29.653' AS DateTime), N'cần để làm việc', N'Đã từ chối', NULL, NULL)
INSERT [dbo].[LQV_YeuCauCapChungChi] ([LQV_ID], [LQV_NguoiDungID], [LQV_KhoaHocID], [LQV_NgayYeuCau], [LQV_LyDoYeuCau], [LQV_TrangThai], [LqvLyDoTuChoi], [LqvChungNhanId]) VALUES (3, 7, 3, CAST(N'2025-11-07 02:24:23.577' AS DateTime), N'123', N'Đã từ chối', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LQV_YeuCauCapChungChi] OFF
SET IDENTITY_INSERT [dbo].[LQV_YeuCauHoTro] ON 

INSERT [dbo].[LQV_YeuCauHoTro] ([LQV_ID], [LQV_NguoiDungID], [LQV_NoiDung], [LQV_ThoiGianGui], [LQV_TrangThai], [LQV_PhanHoi]) VALUES (1, 7, N'fydrdxdfghjkfcfgj', CAST(N'2025-11-07 11:21:58.813' AS DateTime), N'Đã xử lý', N'hhhhhhhh')
INSERT [dbo].[LQV_YeuCauHoTro] ([LQV_ID], [LQV_NguoiDungID], [LQV_NoiDung], [LQV_ThoiGianGui], [LQV_TrangThai], [LQV_PhanHoi]) VALUES (2, 7, N'Yêu', CAST(N'2025-12-09 10:40:52.183' AS DateTime), N'Đã xử lý', N'hi')
INSERT [dbo].[LQV_YeuCauHoTro] ([LQV_ID], [LQV_NguoiDungID], [LQV_NoiDung], [LQV_ThoiGianGui], [LQV_TrangThai], [LQV_PhanHoi]) VALUES (3, 7, N'lolo', CAST(N'2025-12-16 11:35:05.440' AS DateTime), N'Đã xử lý', N'lô')
SET IDENTITY_INSERT [dbo].[LQV_YeuCauHoTro] OFF
/****** Object:  Index [UQ_BaiLam_CauHoi]    Script Date: 24/01/2026 10:50:35 SA ******/
ALTER TABLE [dbo].[LQV_ChiTietBaiLam] ADD  CONSTRAINT [UQ_BaiLam_CauHoi] UNIQUE NONCLUSTERED 
(
	[LQV_BaiLamID] ASC,
	[LQV_CauHoiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LQV_Chun__98F37C26981B1A53]    Script Date: 24/01/2026 10:50:35 SA ******/
ALTER TABLE [dbo].[LQV_ChungNhan] ADD UNIQUE NONCLUSTERED 
(
	[LQV_MaChungNhanCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_NopBai]    Script Date: 24/01/2026 10:50:35 SA ******/
ALTER TABLE [dbo].[LQV_NopBaiTap] ADD  CONSTRAINT [UQ_NopBai] UNIQUE NONCLUSTERED 
(
	[LQV_BaiTapID] ASC,
	[LQV_SinhVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__LQV_Role__2D9D26F63B2DA1B8]    Script Date: 24/01/2026 10:50:35 SA ******/
ALTER TABLE [dbo].[LQV_Role] ADD UNIQUE NONCLUSTERED 
(
	[LQV_RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LQV_BaiTap]  WITH CHECK ADD  CONSTRAINT [FK_BaiTap_GiangVien] FOREIGN KEY([LQV_GiangVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_BaiTap] CHECK CONSTRAINT [FK_BaiTap_GiangVien]
GO
ALTER TABLE [dbo].[LQV_BaiTap]  WITH CHECK ADD  CONSTRAINT [FK_BaiTap_LopHoc] FOREIGN KEY([LQV_LopHocID])
REFERENCES [dbo].[LQV_LopHoc] ([LQV_LopHocID])
GO
ALTER TABLE [dbo].[LQV_BaiTap] CHECK CONSTRAINT [FK_BaiTap_LopHoc]
GO
ALTER TABLE [dbo].[LQV_BoCauHoi]  WITH CHECK ADD  CONSTRAINT [FK_BoCauHoi_GiangVien] FOREIGN KEY([LQV_GiangVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_BoCauHoi] CHECK CONSTRAINT [FK_BoCauHoi_GiangVien]
GO
ALTER TABLE [dbo].[LQV_CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_Bo] FOREIGN KEY([LQV_BoCauHoiID])
REFERENCES [dbo].[LQV_BoCauHoi] ([LQV_BoCauHoiID])
GO
ALTER TABLE [dbo].[LQV_CauHoi] CHECK CONSTRAINT [FK_CauHoi_Bo]
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaiLam_BaiLam] FOREIGN KEY([LQV_BaiLamID])
REFERENCES [dbo].[LQV_BaiLam] ([LQV_BaiLamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam] CHECK CONSTRAINT [FK_ChiTietBaiLam_BaiLam]
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaiLam_CauHoi] FOREIGN KEY([LQV_CauHoiID])
REFERENCES [dbo].[LQV_CauHoi] ([LQV_CauHoiID])
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam] CHECK CONSTRAINT [FK_ChiTietBaiLam_CauHoi]
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBaiLam_DapAn] FOREIGN KEY([LQV_DapAnID])
REFERENCES [dbo].[LQV_DapAn] ([LQV_DapAnID])
GO
ALTER TABLE [dbo].[LQV_ChiTietBaiLam] CHECK CONSTRAINT [FK_ChiTietBaiLam_DapAn]
GO
ALTER TABLE [dbo].[LQV_ChungNhan]  WITH CHECK ADD  CONSTRAINT [FK_LQV_ChungNhan_KhoaHoc] FOREIGN KEY([LQV_KhoaHocID])
REFERENCES [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_ChungNhan] CHECK CONSTRAINT [FK_LQV_ChungNhan_KhoaHoc]
GO
ALTER TABLE [dbo].[LQV_ChungNhan]  WITH CHECK ADD  CONSTRAINT [FK_LQV_ChungNhan_SinhVien] FOREIGN KEY([LQV_SinhVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_ChungNhan] CHECK CONSTRAINT [FK_LQV_ChungNhan_SinhVien]
GO
ALTER TABLE [dbo].[LQV_DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DK_LopHoc] FOREIGN KEY([LQV_LopHocID])
REFERENCES [dbo].[LQV_LopHoc] ([LQV_LopHocID])
GO
ALTER TABLE [dbo].[LQV_DangKyLopHoc] CHECK CONSTRAINT [FK_DK_LopHoc]
GO
ALTER TABLE [dbo].[LQV_DangKyLopHoc]  WITH CHECK ADD  CONSTRAINT [FK_DK_SinhVien] FOREIGN KEY([LQV_SinhVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_DangKyLopHoc] CHECK CONSTRAINT [FK_DK_SinhVien]
GO
ALTER TABLE [dbo].[LQV_DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_CauHoi] FOREIGN KEY([LQV_CauHoiID])
REFERENCES [dbo].[LQV_CauHoi] ([LQV_CauHoiID])
GO
ALTER TABLE [dbo].[LQV_DapAn] CHECK CONSTRAINT [FK_DapAn_CauHoi]
GO
ALTER TABLE [dbo].[LQV_DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_BoCauHoi] FOREIGN KEY([LQV_BoCauHoiID])
REFERENCES [dbo].[LQV_BoCauHoi] ([LQV_BoCauHoiID])
GO
ALTER TABLE [dbo].[LQV_DeThi] CHECK CONSTRAINT [FK_DeThi_BoCauHoi]
GO
ALTER TABLE [dbo].[LQV_DeThi]  WITH CHECK ADD  CONSTRAINT [FK_LQV_DeThi_LQV_NguoiDung_LqvGiangVienId] FOREIGN KEY([LqvGiangVienId])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_DeThi] CHECK CONSTRAINT [FK_LQV_DeThi_LQV_NguoiDung_LqvGiangVienId]
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_BuoiHoc] FOREIGN KEY([LQV_BuoiHocID])
REFERENCES [dbo].[LQV_BuoiHoc] ([LQV_BuoiHocID])
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS] CHECK CONSTRAINT [FK_DiemDanh_BuoiHoc]
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_LopHoc] FOREIGN KEY([LQV_LopHocID])
REFERENCES [dbo].[LQV_LopHoc] ([LQV_LopHocID])
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS] CHECK CONSTRAINT [FK_DiemDanh_LopHoc]
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS]  WITH CHECK ADD  CONSTRAINT [FK_DiemDanh_SinhVien] FOREIGN KEY([LQV_SinhVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_DiemDanhGPS] CHECK CONSTRAINT [FK_DiemDanh_SinhVien]
GO
ALTER TABLE [dbo].[LQV_GiaoDichBlockchain]  WITH CHECK ADD  CONSTRAINT [FK_LQV_GiaoDich_ChungNhan] FOREIGN KEY([LQV_ChungNhanID])
REFERENCES [dbo].[LQV_ChungNhan] ([LQV_MaChungNhan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_GiaoDichBlockchain] CHECK CONSTRAINT [FK_LQV_GiaoDich_ChungNhan]
GO
ALTER TABLE [dbo].[LQV_KhoaHoc]  WITH CHECK ADD  CONSTRAINT [FK_LQV_KhoaHoc_GiangVien] FOREIGN KEY([LQV_GiangVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LQV_KhoaHoc] CHECK CONSTRAINT [FK_LQV_KhoaHoc_GiangVien]
GO
ALTER TABLE [dbo].[LQV_LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_DeThi] FOREIGN KEY([LQV_DeThiID])
REFERENCES [dbo].[LQV_DeThi] ([LQV_DeThiID])
GO
ALTER TABLE [dbo].[LQV_LichThi] CHECK CONSTRAINT [FK_LichThi_DeThi]
GO
ALTER TABLE [dbo].[LQV_LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_LopHoc] FOREIGN KEY([LQV_LopHocID])
REFERENCES [dbo].[LQV_LopHoc] ([LQV_LopHocID])
GO
ALTER TABLE [dbo].[LQV_LichThi] CHECK CONSTRAINT [FK_LichThi_LopHoc]
GO
ALTER TABLE [dbo].[LQV_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_GiangVien] FOREIGN KEY([LQV_GiangVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_LopHoc] CHECK CONSTRAINT [FK_LopHoc_GiangVien]
GO
ALTER TABLE [dbo].[LQV_LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_KhoaHoc] FOREIGN KEY([LQV_KhoaHocID])
REFERENCES [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc])
GO
ALTER TABLE [dbo].[LQV_LopHoc] CHECK CONSTRAINT [FK_LopHoc_KhoaHoc]
GO
ALTER TABLE [dbo].[LQV_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_LQV_NguoiDung_Role] FOREIGN KEY([LQV_RoleID])
REFERENCES [dbo].[LQV_Role] ([LQV_RoleID])
GO
ALTER TABLE [dbo].[LQV_NguoiDung] CHECK CONSTRAINT [FK_LQV_NguoiDung_Role]
GO
ALTER TABLE [dbo].[LQV_NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBai_BaiTap] FOREIGN KEY([LQV_BaiTapID])
REFERENCES [dbo].[LQV_BaiTap] ([LQV_BaiTapID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_NopBaiTap] CHECK CONSTRAINT [FK_NopBai_BaiTap]
GO
ALTER TABLE [dbo].[LQV_NopBaiTap]  WITH CHECK ADD  CONSTRAINT [FK_NopBai_SinhVien] FOREIGN KEY([LQV_SinhVienID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
GO
ALTER TABLE [dbo].[LQV_NopBaiTap] CHECK CONSTRAINT [FK_NopBai_SinhVien]
GO
ALTER TABLE [dbo].[LQV_PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_LQV_PhanQuyen_ChucNang] FOREIGN KEY([LQV_ChucNangID])
REFERENCES [dbo].[LQV_ChucNang] ([LQV_ChucNangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_PhanQuyen] CHECK CONSTRAINT [FK_LQV_PhanQuyen_ChucNang]
GO
ALTER TABLE [dbo].[LQV_PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_LQV_PhanQuyen_Role] FOREIGN KEY([LQV_RoleID])
REFERENCES [dbo].[LQV_Role] ([LQV_RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_PhanQuyen] CHECK CONSTRAINT [FK_LQV_PhanQuyen_Role]
GO
ALTER TABLE [dbo].[LQV_TienDoHocTap]  WITH CHECK ADD  CONSTRAINT [FK_LQV_TienDoHocTap_KhoaHoc] FOREIGN KEY([LQV_KhoaHocId])
REFERENCES [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_TienDoHocTap] CHECK CONSTRAINT [FK_LQV_TienDoHocTap_KhoaHoc]
GO
ALTER TABLE [dbo].[LQV_TienDoHocTap]  WITH CHECK ADD  CONSTRAINT [FK_LQV_TienDoHocTap_NguoiDung] FOREIGN KEY([LQV_SinhVienId])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_TienDoHocTap] CHECK CONSTRAINT [FK_LQV_TienDoHocTap_NguoiDung]
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi]  WITH CHECK ADD  CONSTRAINT [FK_LQV_YeuCauCapChungChi_KhoaHoc] FOREIGN KEY([LQV_KhoaHocID])
REFERENCES [dbo].[LQV_KhoaHoc] ([LQV_MaKhoaHoc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi] CHECK CONSTRAINT [FK_LQV_YeuCauCapChungChi_KhoaHoc]
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi]  WITH CHECK ADD  CONSTRAINT [FK_LQV_YeuCauCapChungChi_LQV_ChungNhan_LqvChungNhanId] FOREIGN KEY([LqvChungNhanId])
REFERENCES [dbo].[LQV_ChungNhan] ([LQV_MaChungNhan])
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi] CHECK CONSTRAINT [FK_LQV_YeuCauCapChungChi_LQV_ChungNhan_LqvChungNhanId]
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi]  WITH CHECK ADD  CONSTRAINT [FK_LQV_YeuCauCapChungChi_NguoiDung] FOREIGN KEY([LQV_NguoiDungID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_YeuCauCapChungChi] CHECK CONSTRAINT [FK_LQV_YeuCauCapChungChi_NguoiDung]
GO
ALTER TABLE [dbo].[LQV_YeuCauHoTro]  WITH CHECK ADD  CONSTRAINT [FK_LQV_YeuCauHoTro_NguoiDung] FOREIGN KEY([LQV_NguoiDungID])
REFERENCES [dbo].[LQV_NguoiDung] ([LQV_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LQV_YeuCauHoTro] CHECK CONSTRAINT [FK_LQV_YeuCauHoTro_NguoiDung]
GO
